.all {
  background-color: #fdffeb;
}

.filter {
  margin: 0px 24px;
  position: static;
}

.order {
  margin: 0px 24px;
}

.paginate {
  margin: 4px 4px 4px 4px;
  position: static;
  bottom: 12px;
}

.button {
  margin: 0 8px;
  margin-bottom: 12px;
}

.recipes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #fdffeb;
}
