.all-bar{
  position: fixed;
  display: flex;
  justify-content: flex-start;
  width: 20%;
  left: -16%;
  background-color: transparent;
  transition: 450ms;
}

.all-bar-active {
  left: 0;
  transition: 450ms;
  position: fixed;
  display: flex;
  justify-content: flex-start;
  width: 18%;
  background-color: transparent;
}

.navbar {
  background-color: #16442b;
  width: 20%;
  height: 100vh;
  display: flex;
  align-items: center;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
  box-shadow: 3px 0 10px rgba(0, 0, 0, 0.4);
}

.navbar :hover {

}

.menu-bars {
  background: none;
  width: 40px;
  color: #faffcf;
  margin: auto 5px;
}

.close-icon {
  color: #faffcf;
  max-width: 48px;
}

.nav-menu {
  background-color: #59981a;
  width: 80%;
  height: 100vh;
  display: flex;
  justify-content: center;
  left: 0%;
  transition: 850ms;
  top: 0;
}


.nav-menu-items {
  margin: 0;
  padding: 32px 0;
}

.nav-text {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 4px 8px 4px 0px;
  list-style: none;
  height: 60px;
}

.nav-text svg {
  width: 40px;
}

.nav-text a {
  text-decoration: none;
  color: #faffcf;
  font-size: 18px;
  font-weight: 600;
  width: 95%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 16px;
  border-radius: 4px;
  transition: all 0.2s ease;
}

.nav-text a:hover {
  background-color: #ecf87f;
  color: #3d550c;
}

.navbar-toggle {
  background-color: #59981a;
  height: 80px;
  display: flex;
  justify-content: start;
  align-items: center;
}

span {
  margin-left: 16px;
}
